@page
@model Padaria03.Pages.ProdutoCRUD.IndexModel

@{
    ViewData["Title"] = "Listagem de Produtos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Novo Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto[0].Preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Produto) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdProduto">Alterar</a> |
                <a asp-page="./Details" asp-route-id="@item.IdProduto">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdProduto">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
